.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.cardContainer {
  padding: 2px 5px;
}

.cardText {
  margin: 5px;
  text-align: left;
  letter-spacing: 0.004rem;
  line-height: 0.9;
}

.cardTextTitulo {
  font-size: large;
}

.cardTextSubTitulo {
  font-size: small;
}

.cardTextPrecio {
  font-size: large;
  font-weight: bold;
  color: #271fe0;
}

.cardImg {
  width: 200px;
}

.linkButton {
  color: #000000;
  background-color: rgb(219, 219, 223);
  border-radius: 0.5rem;
  font-weight: 100;
  font-size: medium;
}
