.counter {
    display: flex;
    justify-content: space-around;
  }

.count {
    margin: 0px;
    font-size:x-large;
    font-weight: bold;
  }

  .buttonAdd {
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    margin: 1rem 2rem;
  }